#aboutUsContainer {
  padding: 0 7.5%;
  height: calc(100vh - 30px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../images/linear_circle.png');

  h3 {
    text-align: center;
    font-weight: 500;
    @include font-sizer(24px);

    &:first-of-type {
      margin-bottom: 24px;
    }
  }

  @include breakpoint-custom($screen-xs-max) {
    background-image: url('../images/circle.png');
    @include max-width-container();
  }
}
