.headerNav {
  border-radius: 13px;
  @include max-width-container();

  .navContainer {
    padding: 20px 50px;
    right: 0;
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $lighterGray;
    z-index: 15;
  }

  .logoTitle {
    &::before {
      content: url('../images/digitalinnerprize-symbol.png');
    }

    .titleLink {
      font-size: 17px;
    }
  }

  @include breakpoint-max($screen-sm) {
    @include max-width-container();

    .navContainer {
      padding: 20px 10px;
    }
  }
}
