.headerNav {
  border-radius: 13px;
  width: 100vw;

  .navContainer {
    padding: 20px 50px;
    margin: 0 auto;
    right: 0;
    top: 0;
    left: 0;
    position: fixed;
    background-color: $lighterGray;
    z-index: 15;

    .container {
      margin: 0 auto;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 1300px;
    }
  }

  .logoTitle {
    &::before {
      content: url('../images/digitalinnerprize-symbol.png');
    }

    .titleLink {
      font-size: 17px;
    }
  }

  @include breakpoint-max($screen-sm) {
    @include max-width-container();

    .navContainer {
      padding: 20px 10px;
    }
  }
}
