@import './vars';
@import './mixins/mixins';

* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  box-sizing: border-box;
}

img {
  width: 100%;
}

html {
  font-family: $fontFamily;
  font-size: 17px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  color: $black;
}

a {
  color: $black;
  text-decoration: none;
}

p {
  @include paragragh-opacity();
  line-height: 28px;
}

.imageContainer {
  width: 100%;
  
  @include breakpoint-custom($screen-xs-max) {
    width: 72%;
  }
}

.contentContainer {
  margin: 0 50px;

  @include breakpoint-max($screen-sm) {
    margin: 0 50px 25px;
  }
}

.paddingContainer {
  padding: 0 50px;

  @include breakpoint-max($screen-sm) {
    padding: 0;
  }
}

footer {
  display: flex;
  justify-content: center;

  > * {
    font-size: 15px;
  }
  p {
    display: inline;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(-2%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes shrink {
  0% {
    width: 95%;
  }
  100% {
    width: 90%;
  }
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}

@import './partials/header';
@import './pages/home/main';
@import './pages/aboutus/main';
@import './pages/ourwork/main';
