#bannerContainer {
  padding: 0 50px;
  height: calc(100vh - 60px);
  position: relative;
  display: flex;
  align-items: center;
  overflow: visible;
  @include max-width-container();

  .bannerContent {
    max-width: 40%;
    
    .bannerTitle {
      @include font-sizer(43px);
    }

    .bannerDescription {
      margin: 30px 0 60px;
    }

    .bannerBtn {
      color: white;
      font-size: 34px;
      font-weight: 600;
      @include button($orange, 0, 0);
    }
  }

  @include breakpoint-max($screen-sm) {
    margin: 45px 0 0;
    padding: 0 2.5%;
    display: block;
    position: relative;
    height: 780px;

    .bannerContent {
      z-index: 1;
      position: relative;
      max-width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;

      .bannerDescription {
        opacity: 0.8;
      }
    }

    .bannerImage {
      margin-left: -40px;
      top: 4%;
      right: 0;
      position: absolute;
      z-index: 0;
      opacity: 0.7;
    }
  }
}
