.businessService {
  margin-top: 0;
  height: 610px;
  z-index: 1;
  background-color: $lighterGray;

  .businessServiceContainer {
    display: block;
    height: 100%;
    text-align: center;
    position: relative;
    
    .textContainer {
      padding-top: 40px;
      margin: 0;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      text-align: center;

      .businessTitle {
        @include font-sizer(36px);
      }
    }

    .businessImage {
      bottom: 3%;
      left: 0;
      position: absolute;
      z-index: 0;
      width: 100%;
    }
  }

  @include breakpoint-custom($screen-xs-max) {
    margin-top: -127px;
    height: calc(973px + 127px);

    .businessServiceContainer {
      text-align: right;
      display: flex;
      align-items: center;
      @include max-width-container();

      .textContainer {
        margin-left: -160px;
        margin-bottom: 290px;
        z-index: 3;
        text-align: right;
        display: block;
        

        p {
          width: 85%;
          float: right;
        }
      }

      .businessImage {
        width: 60%;
        position: initial;
      }
    }
  }
}
