.contactPageContainer {
  background-color: $lighterGray;
}

.contactContainer {
  padding: 90px 0;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  .contactImage {
    display: none;
  }

  #contactText {
    padding: 20px;
    width: 460px;
    text-align: center;
    background-color: rgba($lighterGray, 0.7);
    border-radius: 13px;

    p {
      @include margin__top-bottom($spacing--md, $spacing--lg);
    }

    .contactTitle {
      @include font-sizer(36px);
    }
  }

  .contactBtn {
    color: white;
    font-size: 34px;
    font-weight: 600;
    @include button($lightBlue, 0, 0);
  }

  @include breakpoint-custom($screen-sm-max) {
    padding: 0;
    @include max-width-container();

    .contactImage {
      display: block;
      width: 60%;
    }
  }
}
