.contactContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $lighterGray;

  .contactImage {
    width: 51%;
  }

  #contactText {
    padding: 20px;
    width: 460px;
    text-align: center;
    background-color: rgba($lighterGray, 0.7);
    border-radius: 13px;

    p {
      @include margin__top-bottom($spacing--md, $spacing--lg);
    }

    .contactTitle {
      @include font-sizer(36px);
    }
  }

  .contactBtn {
    color: white;
    font-size: 34px;
    font-weight: 600;
    @include button($lightBlue, 0, 0);
  }

  @include breakpoint-max($screen-sm) {
    padding: 110px 0;
    background-image: none;
    height: 100%;
  }
}
