@mixin backgroundImages {
  background-repeat: no-repeat;
  background-position: center;
}

.serviceCardContainer {
  margin-bottom: 10vh;

  .serviceCards {
    display: grid;
    grid-template-columns: 1fr 4fr 4fr 1fr;
    grid-template-rows: repeat(10, 5vw);
    grid-gap: 1rem;
    grid-template-areas: 
      ". . . ."
      ". text text ."
      ". left right ."
      ". left right ."
      ". left right ."
      ". left right ."
      ". wide wide ."
      ". wide wide ."
      ". wide wide ."
      ". wide wide .";

    .serviceCardText {
      grid-area: text;

      .serviceCardTextTitle {
        margin-top: auto;
        text-align: center;

        .serviceCardsLink {
          color: $hotPink;
          @include font-sizer(24px);;
          font-weight: 600;
        }
      }
    }

    .serviceCard {
      border-radius: 13px;
      cursor: pointer;

      &.serviceCard-1,
      &.serviceCard-2,
      &.serviceCard-3 {
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
      }

      &.serviceCard-1 {
        grid-area: left;
        background-image: url('../images/makena-logo.png');
        @include backgroundImages();
      }

      &.serviceCard-2 {
        grid-area: right;
        background-image: url('../images/winston-logo.png');
        @include backgroundImages();
      }

      &.serviceCard-3 {
        grid-area: wide;
        background-image: url('../images/ubisoft-logo.png');
        @include backgroundImages();
      }

      &:hover .overlay {
        opacity: 1;
        border-radius: inherit;
        cursor: pointer;
      }
    }

    @include breakpoint-max($screen-sm-max) {
      grid-template-areas: 
      ". . . ."
      ". text text ."
      ". . . ."
      ". left left ."
      ". left left ."
      ". right right ."
      ". right right ."
      ". wide wide ."
      ". wide wide ."
      ". . . .";

      .serviceCard:hover .overlay {
        display: none;
      }
    }
  }
}

.cardTitle {
  color: white;
  @include font-sizer(32px);
}

.overlay {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  opacity: 0;
  transition: .9s ease;
  overflow:hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  @each $currentColor in $servicesCardColorArray {
    $i: index($servicesCardColorArray, $currentColor);
    &.overlay-#{$i} { 
      background-color: $currentColor;
    }
  }
}
