@mixin backgroundImages {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.serviceCardContainer {
  padding: 0 2.5%;

  .serviceCards {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(4, 15vh);
    grid-template-areas: 
      "text"
      "left"
      "right"
      "wide";

    .serviceCardText {
      grid-area: text;
      display: flex;
      justify-content: center;
      align-items: center;

      .serviceCardTextTitle {
        text-align: center;

        .serviceCardsLink {
          color: $hotPink;
          @include font-sizer(24px);;
          font-weight: 600;
        }
      }
    }

    .serviceCard {
      border-radius: 13px;
      position: relative;
      cursor: pointer;

      &.serviceCard-1 {
        grid-area: left;
        background-image: url('../images/makena-logo.png');
        @include backgroundImages();
      }

      &.serviceCard-2 {
        grid-area: right;
        background-image: url('../images/winston-logo.png');
        @include backgroundImages();
      }

      &.serviceCard-3 {
        grid-area: wide;
        background-image: url('../images/ubisoft-logo.png');
        @include backgroundImages();
      }

      &:hover .overlay {
        opacity: 0;

        @include breakpoint-custom($screen-sm-max) {
          opacity: 1;
          border-radius: inherit;
          cursor: pointer;
        }
      }
    }

    @include breakpoint-custom($screen-sm-max) {
      grid-template-columns: 5fr 5fr;
      grid-template-rows: repeat(8, 8vh);
      grid-gap: 1rem;
      grid-template-areas:
      "text text"
      "left right"
      "left right"
      "left right"
      "wide wide"
      "wide wide"
      "wide wide"
      "wide wide";
    }
  }

  @include breakpoint-custom($screen-xs-max) {
    @include max-width-container(0, 5vh);
  }
}

.cardTitle {
  color: white;
  @include font-sizer(32px);
}

.overlay {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  opacity: 0;
  transition: .9s ease;
  overflow:hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  @each $currentColor in $servicesCardColorArray {
    $i: index($servicesCardColorArray, $currentColor);
    &.overlay-#{$i} { 
      background-color: $currentColor;
    }
  }
}
